@import '../../../theme/variables.scss';

.HeaderBar {
  position: relative;
  height: 100px;
  display: flex;
  color: white;

  &__Wrapper {
    position: relative;
    padding: 15px;
    height: 100%;
    text-align: left;
    margin: auto;
    max-width: 1000px;
    display: block;
  }

  padding-bottom: 30px;
  background-color: $secondary-color;

  h1, p {
    max-width: 500px;
    text-align: center;

  }
}
